<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name">
  </div>
  <div>
    <label for="ingredients">Ingredients:</label>
    <input type="text" id="ingredients" name="ingredients" formControlName="ingredients">
  </div>
  <div>
    <label for="instructions">Instructions:</label>
    <textarea id="instructions" name="instructions" formControlName="instructions"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>
